<!DOCTYPE html>
html
	head
		meta(charset="utf-8")
		title Recipe Book
		link(href='/css/style.css' rel='stylesheet')

	body

		div(id="root")
			<!-- This div's content will be managed by React. -->

		script(src='dist/main.bundle.js')
		//- script(src='dist/common.bundle.js')