<!DOCTYPE html>
html
	head
		meta(charset="utf-8")
		title Recipe Book
		link(href='/css/style.css' rel='stylesheet')

	body

		div(id="root")
			<!-- This div's content will be managed by React. -->

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src='dist/main.bundle.js')
