<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Recipe Book</title>
		<script src="js/react/react.js"></script>
		<script src="js/react/react-dom.js"></script>
		<script src="js/react/babel-core-browser.min.js"></script>

	</head>

	<body>

		<div id="root">
			<!-- This div's content will be managed by React. -->
		</div>

		<script type="text/babel" src='js/pages/index.jsx'></script>
	</body>
</html>

